@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.first-jumbotron {
    background-color: #e7e7e7 !important;
}

.jumbotron {
    padding: 5px;
    margin-bottom: 1rem;
    background-color: transparent;
}

.jumbotron img {
    height: 150px;
}

.head {
    padding: 15px;
}

.head h2 {
    color: #96572d;
}

.alert-info-link {
    color: #062c33;
}

.nav-item a {
    margin-bottom: 0;
    color: #fff!important;
    font-weight: 500;
    margin-right: 1rem;
}

.nav-item a:hover {
    color: #96572d!important;
}

.table thead th {
    vertical-align: middle;
}

.list-group {
    margin-top: 20px;
}

li.list-group-item.list-group-item-danger.text-primary.h5 {
    margin-bottom: 0;
}

.alert {
    padding: 1.25rem 1.25rem;
}